	
#sales{
	color: red;
	background-color: blue;
}
#purchase{
	color: pink;
	background-color: yellow;
}
#hr{
	color: grey;
	background-color: red;
}
table{
	background-color: red;
	color: pink;
}
#mainmenu{
	background-color: grey;
	color: white;
}
.forms{
	background-color: grey;
	color: pink;
}
